@headerHeight:        275px;
@contentWidth:        820px;
@thumbnailWidth:      150px;

@contentOffset:       30px;

@purple:              #AA22CC;
@grayDark:            #444;
@grayLight:           #DDD;

@linkColor:           #DD0044;
@linkBackgroundColor: #CC0000;
@linkPadding:         3px 6px 4px;

@headingFont:         'Lobster';
@synopsisFont:        'Playfair Display';
@copyFont:            Georgia;

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: @copyFont, sans-serif;
	line-height: 1.5;
	background-color: #FAFAFA;
	font-size: 1em;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

ul {
	padding: 0 0 0 @contentOffset;
}

a {
	text-decoration: none;
	color: @linkColor;
	&:hover {
		color: darken(@linkColor, 20%);
	}
	// For IE
	img {
		border: 0;
	}
}

#header {
	height: @headerHeight;
	max-height: 300px;
	top: 0;
	width: 100%;
	background-color: black;
	z-index: 10;
	background-image: url(../img/colorado-sinking-sun.jpg);
	background-size: 110%;
	background-position: 50% 100%;
	border-bottom: 1px solid black;
	#header-content {
		margin: 0 auto;
		width: @contentWidth;
	}
}

#container {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 20px;
}

#logo {
	padding: 5px 0 0 0;
	float: left;
	font-family: @headingFont, serif;
	font-size: 2.2em;
	color: #c03;
}

.social {
	float: right;
	margin-right: 20px;
	margin-top: 10px;
	img {
		opacity: 0.8;
		&:hover {
			opacity: 1;
		}
	}
}

#content {
	margin: 0 auto;
	width: @contentWidth;
	font-size: 1em;
}

#synopsis {
	padding: 10px 0 40px @contentOffset;
	font-size: 1.3em;
	font-family: @synopsisFont, serif;
}

.page {
	border-top: 1px solid @grayLight;
	padding: 35px 0;
	position: relative;
	overflow: visible;
	clear: both;
	section {
		position: relative;
		margin-left: @contentOffset;
		margin-right: @contentOffset;
	}
	h2 {
		font-family: @headingFont, serif;
		font-size: 2em;
		margin-bottom: 30px;
	}
	.thumbnail {
		img {
			border: 1px solid @grayLight;
			width: @thumbnailWidth;
		}
		margin-bottom: 30px;
	}
	.description {
		h3 {
			color: @grayDark;
			margin-bottom: 6px;
		}
		p {
			margin-bottom: 5px;
		}
		.github-link {
			&:hover {
				opacity: 0.5;
			}
			img {
				vertical-align: middle;
			}
			display: inline-block;
			margin-right: 10px;
		}
		position: absolute;
		top: 0;
		width: 75%;
		left: @thumbnailWidth + @contentOffset + 5px;
	}
	.thumbnail-after {
		.thumbnail {
			img {
				border: 1px solid @grayLight;
				width: @thumbnailWidth;
			}
			position: relative;
			float: right;
		}
		.description {
			position:relative;
			display: inline-block;
			top: 10px;
			left: 0;
			width: 75%;
		}
	}
	.class-name {
		font-weight: bold;
	}
}

.project {
	margin: 20px 0 0;
	position: relative;
}

footer {
	width: 100%;
	text-align: center;
	padding: 10px 0;
}

.tiled-list {
	list-style: none;
	li {
		img {
			vertical-align: middle;
			margin-right: 10px;
		}
		a {
			display: inline-block;
			padding: 20px 15px 5px;
			width: 346px;
			height: 50px;
			background-color: rgba(200, 200, 200, 0.1);
			&:hover {
				background-color: rgba(200, 200, 200, 0.2);
			}
		}
		margin: 5px 5px 5px 0;
		display: inline-block;
		border: 1px solid @grayLight;
		border-radius: 4px;
	}
}

.inline-list {
	li {
		display: inline;
		padding: 5px 10px 5px 0;
	}
	padding: 0;
}

.cursive {
	font-style: italic;
}

@media screen and (max-width: 1200px) {
	#header {
		height: @headerHeight - 40px;
		background-size: auto;
		background-position: 50% 90%;
		#header-content {
			width: 100%;
			padding: 0 10px;
		}
	}
}

@media screen and (max-width: 1024px) {
	#header {
		.social {
			position: absolute;
			top: 13px;
			right: 10px;
			margin: 0;
		}
	}
	#content {
		width: 90%;
		margin: auto;
		padding: 0 50px 0 0;
	}
}

@media screen and (max-width: 767px) {
	#synopsis {
		padding-left: 0;
		padding-right: 0;
	}
	#content {
		padding: 0;
	}
	.page {
		section {
			margin: 0;
		}
		.thumbnail img {
			height: auto;
		}
		.thumbnail-after {
			.thumbnail {
				float: left;
				img {
					margin-top: 30px;
				}
			}
		}
		.description {
			position: initial;
			width: 100% !important;
		}
	}
	.inline-list {
		padding-left: 10px;
	}
	.tiled-list {
		padding: 0;
	}
}

@media screen and (max-device-width: 480px), screen and (max-width: 480px) {
	.project {
		height: auto;
		margin: 50px 0;
		.description {
			margin-top: 10px;
		}
	}
}
