@tailwind base;

@font-face {
	font-family: BebasNeue;
	src: url('../font/BebasNeue-Regular.woff2') format('woff2'),
		url('../font/BebasNeue-Regular.woff') format('woff');
}
@font-face {
	font-family: SourceSansPro;
	src: url('../font/SourceSansPro-Regular.woff2') format('woff2'),
		url('../font/SourceSansPro-Regular.woff') format('woff');
}
@font-face {
	font-family: SourceSansPro;
	font-weight: 600;
	src: url('../font/SourceSansPro-Semibold.woff2') format('woff2'),
		url('../font/SourceSansPro-Semibold.woff') format('woff');
}
@font-face {
	font-family: SourceSansPro;
	font-style: italic;
	src: url('../font/SourceSansPro-It.woff2') format('woff2'),
		url('../font/SourceSansPro-It.woff') format('woff');
}

html {
	box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
	@apply m-0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	border-width: 0;
	border-style: solid;
	border-color: theme('colors.gray.200');
}

ul {
	@apply list-none;
	@apply m-0;
	@apply p-0;
}

a {
	@apply text-red-600;

	background-color: transparent;
	text-decoration: inherit;
}
a:hover {
	@apply text-red-800;
}

#header {
	background-image: url(../img/dawn-mountains.jpg);
	background-size: auto;
	background-position: 50% 42%;
}
@screen xl {
	#header {
		background-size: 110%;
	}
}

@tailwind components;

@tailwind utilities;
